<html>
<head>
<meta name='layout' content='login' />
<title><g:message code="springSecurity.login.title" /></title>
<style type='text/css' media='screen'>
#login {
	margin: 15px 0px;
	padding: 0px;
	text-align: center;
}

#login .inner {
	width: 340px;
	padding-bottom: 6px;
	margin: 60px auto;
	text-align: left;
	border: 1px solid #aab;
	background-color: #f0f0fa;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	-khtml-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}

#login .inner .fheader {
	padding: 18px 26px 14px 26px;
	background-color: #f7f7ff;
	margin: 0px 0 14px 0;
	color: #2e3741;
	font-size: 18px;
	font-weight: bold;
}

#login .inner .cssform p {
	clear: left;
	margin: 0;
	padding: 4px 0 3px 0;
	padding-left: 105px;
	margin-bottom: 20px;
	height: 1%;
}

#login .inner .cssform input[type='text'] {
	width: 120px;
}

#login .inner .cssform label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-left: -90px;
	width: 110px;
	padding-top: 3px;
	padding-right: 10px;
}

#login #remember_me_holder {
	padding-left: 120px;
}

#login #submit {
	margin-left: 15px;
}

#login #remember_me_holder label {
	float: none;
	margin-left: 0;
	text-align: left;
	width: 200px
}

#login .inner .login_message {
	padding: 6px 25px 20px 25px;
	color: #c33;
}

#login .inner .text_ {
	width: 120px;
}

#login .inner .chk {
	height: 12px;
}
</style>
</head>

<body>
	<div id='login'>
		<div class='inner'>
			<div class='fheader'>
				<g:message code="springSecurity.login.header" />
			</div>

			<g:if test='${flash.message}'>
				<div class='login_message'>
					${flash.message}
				</div>
			</g:if>
			
			<div class='login_message' id='login_message'></div>

			<form action='${postUrl}' method='POST' id='loginForm'
				class='cssform' autocomplete='off'>
				<p>
					<label for='username'><g:message
							code="springSecurity.login.username.label" />:</label> <input type='text'
						class='text_' name='j_username' id='username' />
				</p>

				<p>
					<label for='password'><g:message
							code="springSecurity.login.password.label" />:</label> <input
						type='password' class='text_' name='j_password' id='password' />
				</p>

				<p id="remember_me_holder">
					<input type='checkbox' class='chk' name='${rememberMeParameter}'
						id='remember_me'
						<g:if test='${hasCookie}'>checked='checked'</g:if> /> <label
						for='remember_me'><g:message
							code="springSecurity.login.remember.me.label" /></label>
				</p>

				<p>
					<input type='button' id="btnSubmit" onClick="beforeSubmit()"
						value='${message(code: "springSecurity.login.button")}' />
				</p>
			</form>
		</div>
	</div>
	
	<script type='text/javascript'>
		function beforeSubmit() {
			var password = document.getElementById('password');
			var username = document.getElementById('username');
			var flashMessage = document.getElementById('login_message');

			var params = "grant_type=password&username=" + username.value + "&password=" + password.value;

			var xhr = new XMLHttpRequest();			
			xhr.open("POST", "${iuaUrl}", true);

			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

			xhr.onload = function() {
				var jsonResponse = JSON.parse(xhr.responseText);
				
				if (xhr.status >= 200 && xhr.status <= 299) {
					password.value = jsonResponse.access_token;
					var loginForm = document.getElementById('loginForm');
					loginForm.submit();
				}
				else {
					flashMessage.innerHTML = jsonResponse.error_description;
					password.value = '';
					username.value = '';
				}
			};
			
			xhr.onerror = function() {
				// ordinary rejections (e.g. wrong password) are handled by xhr.onload
				// so this is for system errors of some kind
				flashMessage.innerHTML = 'Systemfejl: ' + xhr.response;
				password.value = '';
				username.value = '';
			};
			
			xhr.send(params);
		}
	</script>
	
	<script type='text/javascript'>
	<!--
	(function() {
		document.forms['loginForm'].elements['j_username'].focus();
	})();
	// -->
</script>
</body>
</html>
